{%- from "mailhog/map.jinja" import mailhog -%}
[Unit]
Description=Web and API based SMTP testing

[Service]
Type=simple
ExecStart=/usr/local/bin/mailhog{%- for param, value in mailhog.service.params.items() %} -{{ param }}{{ ' ' ~ value if value is string or value is number else '' }}{%- endfor %}
DynamicUser=true
StateDirectory=mailhog/maildir
StandardOutput=null
CPUAccounting=yes
MemoryAccounting=yes
IPAccounting=yes
IOAccounting=yes
MemoryHigh={{ mailhog.service.unit.Service.MemoryHigh }}

[Install]
WantedBy=multi-user.target
