{%- from "salt/map.jinja" import saltdata -%}
[Unit]
Description=Restart Salt Minion to Clear its Cache
Conflicts=salt-minion.service

[Service]
Type=oneshot
User=root
ExecStart=/bin/systemctl --wait restart salt-minion
Nice=0

[Install]
WantedBy=multi-user.target
