[Unit]
Description=Clear the salt cache periodically
Conflicts=salt-minion.service

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/salt-call saltutil.clear_cache days=7
ExecStart=/usr/bin/salt-call saltutil.sync_all
Nice=0

[Install]
WantedBy=multi-user.target
